<header class="navbar" role="banner">
  <div class="container">

    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand navbar-brand-img">
        <h3>ErazerCQRS</h3>
      </a>
    </div>

    <nav class="collapse navbar-collapse" role="navigation">
      <!-- TODO inner navbar components, notifications, logout, ... -->
    </nav>
  </div>
</header>

<div class="mainnav ">
  <div class="container">
    <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

    <nav class="collapse mainnav-collapse" role="navigation">

      <form class="mainnav-form">
        <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
        <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
      </form>

      <ul class="mainnav-menu">

        <li routerLinkActive="active">
          <a routerLink="/tickets">   
            	Tickets
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/create">   
            	Create
          </a>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/about">   
            	About
          </a>
        </li>

      </ul>
    </nav>
  </div>
</div>