@model string
@{
    ViewData["Title"] = "Ticket";
}

<div class="row">
    <div class="col-md-6">
        @await Component.InvokeAsync("TicketDetail", new { Id = Model })
    </div>

    <div class="col-md-6">
        <h2>Ticket actions TODO</h2>
        <div class="row">
            @await Component.InvokeAsync("PriorityChange")
            @await Component.InvokeAsync("StatusChange")
        </div>
    </div>
    
    <div class="col-md-6">
        <h2>Ticket comment TODO</h2>
        <div class="row">
            <form>
                <div class="col-md-12">
                    <b>Comment:</b>
                </div>
                <div class="col-md-10 bottom-space">
                    <textarea class="form-control" rows="3" style="min-width: 100%"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
    

    <div class="col-md-12">
        @await Component.InvokeAsync("TicketEvents", new { Id = Model })    
    </div>

</div>
